# Archivos y carpetas a ignorar
/vendor/
/node_modules/
/config/config.local.php
/db/*.sql
/assets/fonts/*
/assets/img/*
*.log
.env
.idea/
.DS_Store

# Archivos temporales de sincronización
logs/last_*.json
*.bak
info.php
.env.backup
